.textContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 3rem;
  font-weight: 100;
}
.generate{
  display: flex;
  background-color: rgb(165, 165, 165);
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  padding: 15px;
  font-size: 17px;
  width: 100%;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 60px;
}
.formContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.manageImg{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  position: relative;
}
.options{
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.options2{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options{
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.options3{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.positions{
  width: 60%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
.positions2{
  width: 95%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.draggableContainer{
  width: 220px;
  height: 230px;
  border: 1px solid #cccccc;
  position: relative;
  overflow: hidden;
}
.draggable {
  position: absolute;
  cursor: grab;
}
.draggable:active {
  cursor: grabbing;
}
.mockPrev{
  position: absolute;
  width: 400px;
  margin-bottom: 0px;
}
.btn{
  color: black;
  background-color: #cccccc;
  padding: 10px;
  border-radius: 10px;
}
.btn:hover{
  color: white;
  background-color: black;
}
.title{
  font-size: 3em;
}

@media screen and (max-width: 600px) {
  .title{
    font-size: 1.8rem;
  }
  .inputsContainer{
    width: 80%;
  }
  .manageImg{
    flex-direction: column;
    height: 870px;
  }
  .options{
    width: 100%;
    height: 400px;
  }
  .options2{
    width: 100%;
    height: 70px;
  }
  .options3{
    width: 100%;
    height: 400px;
  }
  .mockPrev{
    width:100%;
  }
}