#root {
  margin: 0 auto;
  align-items: center;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.header{
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header-content-principal{
  width: 100%;
  height: 51%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3%;
  background-color: rgb(255, 255, 255);
}
.header-login-content{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
}
.header-content-small{
  width: 100%;
  height: 22%;
  background-color: black;
  display: flex;
  justify-content:center;
  align-items: center;
}
.buttons-container{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.buttons{
  height: 50px;
  font-size: 18px;
  font-weight: 300;
  align-items: center;
  background-color: white;
}
.buttons:hover{
  border-bottom: solid 1px black;
}

.login{
  height: 100%;
  font-size: 18px;
  font-weight: 300;
  align-items: center;
  color: black;
}
footer{
  width: 100%;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: solid #cccccc 1px;
}
.footer-sections{
  width: 35%;
  height: 90%;
  padding-inline: 20px;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
}
.imgLogo{
  width: 100px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  right: 0;
  width: 400px;
  display: none;
  position: absolute;
  background-color: white;
  border:solid 1px #cccccc;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 15px;
}
.article-container{
  width: 350px;
  height: 75px;
  display: flex;
  flex-direction: row;
  border: solid 1px #cccccc;
  background-color: white;
  margin-block: 5px;
}
.article-img{
  width: 73px;
  height: 73px;
  background-color: white;
}
.article-text{
  width: 245px;
  height: 73px;
  background-color: white;
  padding: 5px;
}
.article-text h2{
  font-size: 15px;
}
.button-container{
  width: 30px;
  height: 73px;
}
.delete-btn{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.delete-btn:hover{
  background-color: red;
  color: white;
}
.buy-button{
  width: 350px;
  height: 45px;
  display: flex;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  margin-block: 3px;
  color: white;
}
@media screen and (max-width: 600px) {
  .imgLogo{
    width: 60px;
  }
  .buttons{
    font-size: 12px;
  }
  .login{
    font-size: 12px;
  }
  .dropdown-content{
    width: 330px;
  }
  .article-container{
    width: 300px;
    height: 67px;
  }
  .article-img{
    width: 65px;
    height: 65px;
    background-color: white;
  }
  .article-text{
    width: 200px;
    height: 65px;
  }
  .article-text h2{
    font-size: 9px;
  }
  .button-container{
    width: 34px;
    height: 65px;
  }
  .buy-button{
    width: 300px;
    height: 35px;
  }
}